@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    height: 90px;
    background-color: #000;
    width: 100%;
}

#container-principal{
    background-color: #fff;
    width: 100%;
    height: 630px;
    display: flex;
    justify-content: space-around;
}

#logo{
    height: 90px;
    margin: 0 10px;
}


#banner-email{
    margin: 10px 0;
}

#area-formulario{
    width: 300px;
    position: relative;
    height: 300px;
    top: 150px;
}
form{
    width: 300px;
}
input{
    display: block;
}
h1{
    font-family: 'Kdam Thmor pro', sans-serif;
}
footer{
    width: 100%;
    height: 70px;
    background-color: black;
    font-family: 'Kdam Thmor pro', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px){

    #banner-email{
        width: 30%;
        height: 500px;
    }

}